body,html{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

td
{
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  vertical-align: middle;
  height:90px;
  border: none;
}

tr{
  border: none;
}

li{
  font-size: 0.4em;
}

#structure{
  visibility: hidden;
}

#player{
  height: 300px;
  width: 100%;
  bottom: 0;
}

#current{
  font-size: 2em;
  font-family: 'Shrikhand', cursive;
  border-bottom : solid 1px black;
}

#current > p{
  float: left;
  top:0;
}

#song{
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
}

#song > p{
  float: left;
  top:0
}

.centered{
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  float: none;
}

.sidebar{
  float: right;
  border: solid 1px black;
  position: fixed;
  height: 100%;
  right: 0;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.music-list{
  overflow: auto;
}

.playing
{
  background-color: rgba(0,0,0,0.3)
}

.hidden{
  visibility: hidden;
}

.toggle{
  background-color: rgba(0,0,0,0);
  border: solid 2px; white;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.buton-container{
  display: block;
  text-align: center;
  align-items: center;
}

.volume-container{
  margin-top: 20px;
}
